{% extends 'base.html' %}
{% block container %}
    <div class="card my-4 mx-auto">
        <div class="card-body m-2 m-md-4">
            <article class="row">
                <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
                <div class="col-7">

                    <section class="teacher=info">

                        <h1 class="h2">{{ teacher.name }}</h1>
                        <p>{% for g in goals %}<span class="badge badge-secondary mr-2">{{ g.rus }} </span>{% endfor %}
                            Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
                        <p>{{ teacher.about }}</p>

                    </section>

                    <section class="available">
                        <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
                        {% for day_of_the_week_key,day_of_the_week_value in week.items() %}
                            <h6 class="mt-4">{{ day_of_the_week_value }}</h6>
                            {% set empty = True %}
                            {% for ft in (teacher.free_times|sort(attribute='time')) %}
                                {% if ft.weekday == day_of_the_week_key %}
                                    {% set time = ft.time %}
                                    {% set empty = False %}
                                    <a href="/booking/{{ teacher.id }}/{{ day_of_the_week_key }}/{{ time.hour }}/"
                                       class="btn btn-outline-success mr-2">{{ time.hour }}:00 свободно</a>
                                {% endif %}
                            {% endfor %}
                            {% if (teacher.free_times|selectattr("weekday",'equalto',day_of_the_week_key)|list|length) == 0 %}
                                <p>Нет свободных уроков</p>
                            {% endif %}
                        {% endfor %}
                    </section>
                </div>
            </article>
        </div>
    </div>
{% endblock %}